<div class="ml-5 mt-5 mr-5">
    <form method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Tìm kiếm</label>
            <input type="text" class="form-control" name="q" id="exampleInputEmail1" placeholder="Nhập từ khoá...">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>